/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/*===== tipografía mobile =====*/

/*===== Colores =====*/
:root {
	--color-violet: #8e7bef;
	--color-blue-light: #5d3bef;
	--color-white-transparent: #f9f6ff;
	--color-deep-black: #222222;
	--color-black: #423f40;
	--color-white: #ffffff;
	--color-transparent-white: #f9f5f2;
	--color-dark-mixblue: rgb(6, 14, 56);
}

html {
	scroll-behavior: smooth;
}

body {
	/* font-family: 'Montserrat', sans-serif; */
	/* color: var(--color-deep-black); */

	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #333;
	font-size: 1rem;
	line-height: 1.5;

	background-image: url(../images/back2.jpg) repeat-y fixed;

	background-position: center center;
	background-size: cover;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.text-center {
	text-align: center;
	font-size: 1.5rem;
}

.section {
	padding: 1rem 1.5rem;
}

.hero {
	margin-left: auto;
	margin-right: auto;
	background-color: var(--color-white);
	padding-top: 50px;
	display: flex;
	color: rgb(6, 14, 56);
	align-items: center;
	justify-content: center;
}

.hero__nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background-color: transparent;
	border: 1px solid var(--color-violet);
	transition: all 0.3s ease-in-out;
}

.hero__nav.nav-fixed {
	/* background-color: hsl(230deg 60% 41%); */
	background-color: var(--color-blue-light);
}

.hero__nav__contenedor {
	display: flex;
	max-width: 900px;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
	margin-left: 40px;
}

.hero__nav .logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	transition: all 0.3s ease-in-out;
}

.hero__nav .logo i {
	display: flex;
	font-size: 32px;
	align-items: center;
	justify-content: center;
	color: var(--color-blue-light);
	transition: all 0.3s ease-in-out;
}

.hero__nav .logo {
	font-size: 22px;
	color: var(--color-dark-mixblue);
	font-weight: 600;
}

.hero__nav-inner {
	display: flex;
	height: inherit;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
}

.hero__nav-link {
	/* border: 1px solid green; */
	color: var(--color-dark-mixblue);
	font-size: 16px;
	font-weight: 600;
}

.hero__nav-link:hover,
.hero__nav-link.active {
	color: hsl(44deg 97% 59%);
}

.hero__contenedor {
	width: min(992px, 90%);
	height: auto;
	/* border: 1px solid red; */
	text-align: center;
}
.hero__nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background-color: transparent;
	transition: all 0.3s ease-in-out;
}

.hero__nav.nav-fixed {
	/* background-color: hsl(230deg 60% 41%); */
	background-color: var(--color-blue-light);
}

.linkwhite a {
	color: #fff;
}

.linkwhite.logo i {
	color: #fff;
}

.linkwhite.logo span {
	color: #fff;
}

.fa-solid,
.fas {
	font-size: 2.5rem;
	padding: 10px 10px;
	color: var(--color-dark-mixblue);
	margin-right: 30px;
}
.linkwhite.btn-abrir i {
	color: #fff;
}
nav a,
.icon-menu {
	color: var(--color-deep-black);
	font-weight: 600;
	padding: 5px 10px;
	display: inline-block;
	margin-top: 20px;
	font-size: 1rempx;
}

.btn-abrir {
	display: none;
}

.col-md-6 {
	padding: 10px;
}

/* =======Home========= */
.home__title {
	font-size: 2rem;
}
.home__titleContainer {
	padding-left: 50px;
}
.secondPart {
	display: flex;
	flex-flow: column;
	position: relative;
	top: -40px;
}
.seccion-home img {
	border-radius: 0% 0% 5% 5%;
	/* box-shadow: 5px 10px #888888; */
	margin-left: 30px;
}

.container-home p {
	font-size: 1.5rem;
	font-weight: 600;
}

.container-home {
	display: flex;
	flex-direction: column;
	margin: 20px;
	max-width: 1080px;
}

.social-container {
	display: flex;
	justify-content: space-between;
	margin: 0 40px;
	top: -50px;
}

.social-icons {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: var(--color-blue-light);
	border: 2.5px solid var(--color-white);
}

/* =========Boton contactame ===========*/

.button-contact-me {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	width: 85%;
	background-color: var(--color-blue-light);
	margin: 0 auto;
}

.button-contact-me a {
	color: var(--color-white);
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 200;
	align-self: auto;
}

.button {
	padding: 25px;
}

/* <!-- ===========Acerca de mi============= --> */
.info-about {
	padding: 0 40px;
	padding-bottom: 2rem;
	/* max-width: 1080px;
	overflow: auto; */
}
.about-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 10px;
}

.about-section h2 {
	color: var(--color-deep-black);
	margin-bottom: 20px;
	padding: 10px 10px;
	margin-top: 10%;
}
.about-section p {
	color: var(--color-black);
	text-align: justify;
	line-height: 2.5rem;
	/* font-size: 1rem; */
	/* padding: 3rem 0; */
}
/* =======my skills============= */

.container-skills {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 3rem 0;
	flex-wrap: wrap;
}

.skills-cards {
	background-color: var(--color-white-transparent);
	padding: 1rem 1.5rem;
	width: 250px;
	height: 250px;
	min-width: 275px;
	text-align: left;
}

.card-subtitle {
	display: flex;
	gap: 1.5rem;
	padding: 0.5rem;
}
.myskills {
	padding-bottom: 4rem;
	padding-top: 1rem;
}

/* Components cards*/
.card {
	text-align: center;
	background-color: var(--color-transparent-white);
	border-radius: 10px;
	padding: 10px;
	height: 100%;
}
.row {
	padding: 3rem 0;
}

/* =======Experience =========*/
.myExperience-container {
	padding: 3rem 1rem;
}

.experience-card {
	background-color: var(--color-white-transparent);
	display: grid;
	grid-template-columns: repeat(3, 25%);
	justify-content: center;
	align-items: center;
	gap: 2.5rem;
	padding: 1.5rem;
}

.experience-card p {
	font-size: 20px;
}
/* ======portfolio======== */
.portfolio-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	padding: 3rem 3rem;
}
.grid {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1.5rem;
}
.grid img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.image-2 {
	gap: 1rem;
	max-width: 50%;
	margin: 0 auto;
}
/* =========Contacto========= */

.contacto-container {
	display: flex;
	justify-content: center;
	padding: 2rem 1rem;
}
.icons-contacto {
	text-align: center;
	line-height: 2rem;
	padding: 1rem;
}

.icons-contacto div {
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-transparent-white);
	border-radius: 50%;
	margin: 0 auto;
}
.icons-contacto h3 {
	padding-top: 1.5rem;
}

/* =====FORM======== */

.form {
	/* border: 1px solid red; */
	padding: 0 25px;
}

.form-group {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-bottom: 2rem;
}

.form-control {
	padding: 15px;
	font-size: 1rem;
	background-color: var(--color-blue-light);
	border: 1px solid transparent;
	border-radius: 8px;
}

.form-control::placeholder {
	color: #fff;
}

.form-control:focus-visible {
	outline: 1px solid var(--color-blue-light);
	border-color: #fff;
}

.btn-form {
	padding: 15px;
	background-color: var(--color-blue-light);
	border: 1px solid transparent;
	border-radius: 8px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

.btn-form:hover {
	background-color: hsl(231deg 48% 48%);
}

.seccion {
	width: 100%;
	/* height: 100vh; */
	padding-top: 100px;
}

.seccion__contenedor {
	max-width: 992px;
	margin: 0 auto;
}

.seccion__contenedor.seccion__full {
	max-width: 100%;
	width: 100%;
	height: 100vh;
	margin: 0;
}

.seccion__titulo {
	padding-left: 20px;
}

.seccion__contenido {
	padding: 10px 20px 40px;
}

.contenerdor__principal > .seccion:nth-child(even) {
	max-width: 100%;
	margin: 0 auto;
	background-color: var(--color-blue-light);
	color: #fff;
}

/* =======footer======= */

.footer {
	margin-top: 5rem;
	background-color: var(--color-blue-light);
	color: #fff;
}

.contenedor__footer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	max-width: 900px;
	margin: 0 auto;
	padding: 1rem 0 3rem;
}

.contenedro__footer-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contenedro__footer-item ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.contenedro__footer-item a {
	color: #ccc;
	text-decoration: none;
	transition: 0.3s ease-in-out;
}

.contenedro__footer-item a:hover {
	color: #fff;
	text-decoration: underline;
}

.social ul {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.contenedor__footer-copy {
	padding: 20px 0;
	border-top: 1px solid #fff;
	text-align: center;
	font-size: 12px;
	color: #999;
}

@media (min-width: 768px) {
	.row {
		display: flex;
		padding: 2rem;
	}
	.col-md-6 {
		width: 50%;
		padding: 10px;
	}
}

/* =============mediaquery desktop ============================================*/

@media (max-width: 768px) {
	.hero__nav-inner {
		position: fixed;
		top: 0;
		left: -100%;
		margin-top: 60px;
		width: 80vw;
		height: 100%;
		padding: 20px 0;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		padding-left: 20px;
		background-color: var(--color-blue-light);
		transition: 0.3s ease-in-out;
	}

	.hero__nav-inner.active {
		left: 0;
	}

	.hero__nav-link {
		color: var(--color-white);
		text-transform: uppercase;
	}

	.hero__nav-link:hover,
	.hero__nav-link.active {
		color: hsl(0deg 0% 0%);
		font-weight: 700;
	}

	.btn-abrir {
		display: inline-block;
	}
}

@media screen and (min-width: 768px) {
	.hero {
		margin-top: 2rem;
		height: 80vh;
	}
	.hero__nav {
		height: 100px;
	}

	.hero__nav .logo {
		margin-top: 20px;
	}
	.section {
		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;
	}
	.hero__nav__contenedor {
		justify-content: space-around;
		margin: 0 auto;
	}

	/* =======Home========= */

	.social-icons {
		width: 50px;
		height: 50px;
	}

	.seccion-home {
		/* border: 1px dashed blue; */
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}

	.firstPart {
		display: flex;
		gap: 20px;
	}

	.imgProfile {
		position: relative;
		top: 40px;
		z-index: 2;
	}

	.secondPart {
		display: flex;
		flex-direction: column;
		align-self: flex-end;
		width: 350px;
		position: relative;
		top: -40px;
		z-index: 3;
	}

	.home__titleContainer {
		order: 2;

		margin-top: 86px;
	}

	.button-contact-me {
		height: 40px;
		width: 100%;
		background-color: var(--color-blue-light);
		align-self: center;
		margin-right: 2rem;
	}
	/* <!-- ===========Acerca de mi============= --> */
	.info-about {
		display: flex;
		margin: 0 auto;
	}

	.about-section {
		text-align: center;
	}

	.about-section h2 {
		font-size: 2rem;
		padding: 1px 10px;
	}

	.about-section p {
		text-align: center;
		line-height: 3rem;
	}

	/* ==============Skills========== */

	.card-subtitle {
		gap: 1.5rem;
		padding: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.card-subtitle > p {
		text-align: left;
	}
	/* =========my experience========= */
	.myExperience-container {
		display: flex;
		gap: 1rem;
		justify-content: center;
	}

	.experience-card {
		gap: 1.5rem;
		grid-template-columns: repeat(3, 33%);
	}
	/* ======portfolio======= */
	.portfolio-grid {
		display: flex;
		justify-content: space-between;
		gap: 2.5rem;
		padding: 3rem 0;
	}

	.image-2 img {
		width: 70%;
		height: 70%;
	}
	/* ============contacto========== */
	.icons-contacto div {
		width: 150px;
		height: 150px;
		background-color: var(--color-transparent-white);
		border-radius: 25%;
	}
	.contacto-container {
		gap: 5rem;
	}
	.icons-contacto h3,
	.icons-contacto span {
		padding: 2rem;
	}

	/* ========== FORM ========== */
}

@media screen and (min-width: 1024px) {
	.hero {
		max-width: 1080px;
		margin: 0 auto;
		margin-top: 5rem;
	}

	.section {
		padding: 1rem 10rem;
	}
}
