/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*===== tipografía mobile =====*/

/*===== Colores =====*/
:root {
	--color-violet: #8e7bef;
	--color-blue-light: #5d3bef;
	--color-white-transparent: #f9f6ff;
	--color-deep-black: #222222;
	--color-black: #423f40;
	--color-white: #ffffff;
	--color-transparent-white: #f9f5f2;
}
html,
body {
	font-family: 'Montserrat', sans-serif;
	color: var(--color-deep-black);
	overflow-x: hidden;
}
a {
	text-decoration: none;
}

ul {
	list-style: none;
}

/* layout */
.container-header {
	/* width: 90%;
	max-width: 1080px; */
	margin: auto;
}

.text-center {
	text-align: center;
	font-size: 1.5rem;
}

.section {
	padding: 1rem 1.5rem;
}

/* Intro */

.intro {
	min-height: 0px;
	background-color: var(--color-white);
}

nav {
	background-color: var(--color-violet);
	max-height: 100vh;
	transition: max-height 1s;
}

.fa-solid,
.fas {
	font-size: 3rem;
	padding: 10px 10px;
}

nav a,
.icon-menu {
	color: var(--color-deep-black);
	font-weight: 600;
	padding: 5px 10px;
	display: inline-block;
	margin-top: 20px;
	font-size: 1rempx;
}

.right-angle-menu {
	text-align: right;
}

.hidden {
	/* display: none; */
	max-height: 0;
	overflow: hidden;
}

.col-md-6 {
	padding: 10px;
}

/* =======Home========= */
.home__title {
	font-size: 2.5rem;
}

.seccion-home img {
	border-radius: 0% 0% 5% 5%;
	/* box-shadow: 5px 10px #888888; */
	margin-left: 30px;
}

.container-home p {
	font-size: 1.5rem;
	font-weight: 600;
}

.container-home {
	display: flex;
	flex-direction: column;
	margin: 20px;
	max-width: 1080px;
}

.social-container {
	display: flex;
	justify-content: space-between;
	margin: 0 40px;
	position: relative;
	top: -50px;
}

.social-icons {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: var(--color-blue-light);
	border: 2.5px solid var(--color-white);
}

/* =========Boton contactame ===========*/

.button-contact-me {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	width: 85%;
	background-color: var(--color-blue-light);
	margin: 0 auto;
}

.button-contact-me a {
	color: var(--color-white);
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 200;
}

.button {
	padding: 25px;
}

/* <!-- ===========Acerca de mi============= --> */
.info-about {
	padding: 0 20px;
	padding-bottom: 2rem;
	max-width: 1080px;
	overflow: auto;
}
.about-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 10px;
}

.about-section h2 {
	color: var(--color-deep-black);
	margin-bottom: 20px;
	padding: 10px 10px;
	margin-top: 10%;
}
.about-section p {
	color: var(--color-black);
	text-align: justify;
	line-height: 2.5rem;
	font-size: 1rem;
	padding: 3rem 0;
}
/* =======my skills============= */

.container-skills {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 3rem 0;
	flex-wrap: wrap;
}

.skills-cards {
	background-color: var(--color-white-transparent);
	padding: 1rem 1.5rem;
	width: 250px;
	height: 250px;
	min-width: 275px;
	text-align: left;
}

.card-subtitle {
	display: flex;
	gap: 1.5rem;
	padding: 0.5rem;
}
.myskills {
	padding-bottom: 4rem;
	padding-top: 1rem;
}

/* Components cards*/
.card {
	text-align: center;
	background-color: var(--color-transparent-white);
	border-radius: 10px;
	padding: 10px;
	height: 100%;
}
.row {
	padding: 3rem 0;
}

/* =======Experience =========*/
.myExperience-container {
	padding: 3rem 1rem;
}

.experience-card {
	background-color: var(--color-white-transparent);
	display: grid;
	grid-template-columns: repeat(3, 25%);
	justify-content: center;
	align-items: center;
	gap: 2.5rem;
	padding: 1.5rem;
}

.experience-card p {
	font-size: 20px;
}
/* ======portfolio======== */
.portfolio-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	padding: 3rem 0;
}
.grid {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1.5rem;
}
.grid img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.image-2 {
	gap: 1rem;
	max-width: 50%;
	margin: 0 auto;
}
/* =========Contacto========= */

.contacto-container {
	display: flex;
	justify-content: center;
	padding: 2rem 1rem;
	gap: 2rem;
}
.icons-contacto {
	text-align: center;
	line-height: 2rem;
	padding: 1rem;
}

.icons-contacto div {
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-transparent-white);
	border-radius: 50%;
	margin: 0 auto;
}
.icons-contacto h3 {
	padding-top: 1.5rem;
}

/* =======footer======= */

footer p {
	text-align: center;
	color: #5d3bef;
	font-size: 25px;
	font-weight: 500;
}

@media (min-width: 768px) {
	.row {
		display: flex;
		padding: 2rem;
	}
	.col-md-6 {
		width: 50%;
		padding: 10px;
	}
}

/* mediaquery desktop */

@media screen and (min-width: 860px) {
	body {
		overflow-y: hidden;
	}

	.lg-hidden {
		display: none;
	}
	#main-menu {
		max-height: none;
		background-color: transparent;
		flex-direction: row;
		display: flex;
		justify-content: flex-end;
	}

	nav li {
		display: inline-block;
	}

	.intro {
		min-height: 90px;
	}

	.section {
		padding: 1rem 5rem;
	}

	/* =======Home========= */

	.social-container {
		top: 0;
	}

	.social-icons {
		width: 60px;
		height: 60px;
	}

	.seccion-home {
		display: flex;

		justify-content: flex-end;
		align-items: end;
		margin: 3%;
		padding: 0 10%;
	}
	.container-header {
		display: flex;
		justify-content: center;
	}

	.container-home {
		margin: 0 20px;
	}

	.container-home img {
		position: absolute;
		left: 8%;
		top: 10%;
	}
	.container-home h1,
	.container-home p {
		position: relative;
		top: 0p;
		right: -30px;
		bottom: 20px;
	}

	.button-contact-me {
		height: 40px;
		width: 100%;
		background-color: var(--color-blue-light);
		margin: 0 auto;
		position: relative;
		right: -5%;
		top: 40px;
	}

	/* <!-- ===========Acerca de mi============= --> */
	.info-about {
		display: flex;
		margin: 0 auto;
	}

	.about-section {
		text-align: center;
	}

	.about-section h2 {
		font-size: 45px;
		margin-bottom: 10%;
		padding: 5px 10px;
	}

	.about-section p {
		text-align: center;
		line-height: 3rem;
	}

	/* ==============Skills========== */

	.card-subtitle {
		gap: 1.5rem;
		padding: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.card-subtitle > p {
		text-align: left;
	}
	/* =========my experience========= */
	.myExperience-container {
		display: flex;
		gap: 1rem;
		justify-content: center;
	}

	.experience-card {
		gap: 1.5rem;
		grid-template-columns: repeat(3, 33%);
	}
	/* ======portfolio======= */
	.portfolio-grid {
		display: flex;
		justify-content: space-between;
		gap: 2.5rem;
	}

	.image-2 img {
		width: 70%;
		height: 70%;
	}
	/* ============contacto========== */
	.icons-contacto div {
		width: 150px;
		height: 150px;
		background-color: var(--color-transparent-white);
		border-radius: 25%;
	}
	.contacto-container {
		gap: 5rem;
	}
	.icons-contacto h3,
	.icons-contacto span {
		padding: 2rem;
	}
}
@media screen and (min-width: 1024px) {
	.section {
		padding: 1rem 10rem;
	}
}
